@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--amplify-primary-color: #e40066;
	--amplify-primary-tint: #eac435;
	--amplify-primary-shade: #fb4d3d;
	--amplify-backgroun: #f6f7eb;
}
